.mainBtn {
    background: #314E7D !important;
}

.lg-font-size {
    font-size: 320%;
}

.sm-font-size {
    font-size: 110% !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.opensans {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: bold;
    font-size: 50px !important;
    margin-bottom: 20px !important;
}

.article-primary-image {
    /*width: 945px;
    height: 350px;
    overflow: hidden;
    display: block;*/

    width:  945px; /*or 70%, or what you want*/
    height: 350px; /*or 70%, or what you want*/
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.index-cover-image {
    /*width: 945px;
    height: 350px;
    overflow: hidden;
    display: block;*/

    width:  1349px; /*or 70%, or what you want*/
    height: 659px; /*or 70%, or what you want*/
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.article-secondary-image {
    /*width: 945px;
    height: 350px;
    overflow: hidden;
    display: block;*/

    width:  100% !important; /*or 70%, or what you want*/
    height:  150px !important; /*or 70%, or what you want*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
}

.article-logo-image {
    /*width: 945px;
    height: 350px;
    overflow: hidden;
    display: block;*/

    width:  100% !important; /*or 70%, or what you want*/
    height:  150px !important; /*or 70%, or what you want*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
}

p, h5 {
    font-size: 120% !important;
    color: #333;
}

.new-title {
    font-size: 24px;
    margin-bottom: 2%;
    color: #EE5317;
}

.new-blue-title {
    font-size: 24px;
    margin-bottom: 2%;
    color: #314E7D;
}

.desc {
    margin-bottom: 3%;
}

.reddy {
    color: #EE5662 !important;
}

.white {
    color: #EEE !important;
}

.blue {
    color: #314E7D !important;
}

.black {
    color: #333;
}

.orangey {
    color: #EE5317 !important;
}

.img-list {
    padding: 0px !important;
}

.bg-green {
    background: #C8D734 none repeat scroll 0 0 !important;
}

.bg-orange {
    background: #2CCC57 none repeat scroll 0 0 !important;
}

.sub-header {
    background: #466FB3 !important;
}

.featured-crop {
    width: 370px;
    height: 170px;
    overflow: hidden !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.article-crop {
    width: 225px;
    height: 150px;
    overflow: hidden !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.location-index-crop {
    width: 273px !important;
    height: 175px !important;
}

.search-image {
    width: 100% !important;
    height: 150px !important;   
    overflow: hidden !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}